USE [master]
GO
/****** Object:  Database [DB_MUNDODICTARIANO2]    Script Date: 17/04/2024 22:06:49 ******/
CREATE DATABASE [DB_MUNDODICTARIANO2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MUNDODICTARIANO2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_MUNDODICTARIANO2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_MUNDODICTARIANO2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_MUNDODICTARIANO2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MUNDODICTARIANO2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MUNDODICTARIANO2]
GO
/****** Object:  UserDefinedFunction [dbo].[calculito_Mora]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[calculito_Mora]
(@fecha1 date, @fecha2 date) Returns numeric(9,2)
As
Begin
   Declare @tasa numeric(9,2), @mora numeric (9,2)
   Select @tasa= TasaLegal/100 From PARAMETRO Where activo = 1
   if @fecha1 > @fecha2
       Set @mora =0 
	else 
	   set @mora = DATEDIFF(dd,@fecha1,@fecha2) * @tasa
	   return @mora
End
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[nombrePerfil] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[estado] [bit] NULL,
	[imagenPerfil] [varchar](100) NULL,
	[idUsuario] [int] NULL,
	[idRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[nombrePersona] [varchar](50) NULL,
	[ApellidoPat] [varchar](50) NULL,
	[ApellidoMat] [varchar](50) NULL,
	[dni] [int] NULL,
	[telefono] [int] NULL,
	[idUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] NOT NULL,
	[NombreRol] [varchar](50) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[confirmarPassword] [varchar](50) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[estado] [bit] NULL,
	[idRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Rol] ([idRol], [NombreRol], [estado]) VALUES (1, N'usuario', 1)
INSERT [dbo].[Rol] ([idRol], [NombreRol], [estado]) VALUES (2, N'administrador', 1)
INSERT [dbo].[Rol] ([idRol], [NombreRol], [estado]) VALUES (3, N'niño', 1)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [username], [email], [password], [confirmarPassword], [fechaDeCreacion], [estado], [idRol]) VALUES (2, N'johan', N'johan@gmail.com', N'enqOetfPjkr59BPLXXqzBg==', NULL, CAST(N'2024-04-17T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Usuarios] ([idUsuario], [username], [email], [password], [confirmarPassword], [fechaDeCreacion], [estado], [idRol]) VALUES (3, N'johan', N'1johan@gmail.com', N'enqOetfPjkr59BPLXXqzBg==', NULL, CAST(N'2024-04-17T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
/****** Object:  StoredProcedure [dbo].[crearPerfil]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[crearPerfil]
@nombrePerfil varchar(50),
@password varchar(50),
@imagenPerfil varchar(50),
@idRol int
AS
BEGIN 
insert into Perfil(nombrePerfil, password, imagenPerfil, idRol)
values (@nombrePerfil, @password, @imagenPerfil, @idRol);
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPerfil]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPerfil]
    @idPerfil INT
AS
BEGIN
    DELETE FROM Perfil
    WHERE idPerfil = @idPerfil;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
    @idUsuario INT
AS
BEGIN
    DELETE FROM Usuarios
    WHERE idUsuario = @idUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[login_usuarios]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[login_usuarios]
@email varchar(50)
as begin
select idUsuario, email, username, password, fechaDeCreacion, estado, idRol from Usuarios where email = @email
end
GO
/****** Object:  StoredProcedure [dbo].[registrarUsuario]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[registrarUsuario]
	@username varchar(50),
    @email VARCHAR(50),
    @password VARCHAR(50),
	@fechaDeCreacion date,
	@estado bit,
	@idRol int
AS
BEGIN
    INSERT INTO Usuarios (username,email, password, fechaDeCreacion, estado,idRol)
    VALUES (@username,@Email, @Password,  @fechaDeCreacion, @estado, @idRol);
END;
GO
/****** Object:  StoredProcedure [dbo].[VisualizarPerfilesPorRol]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VisualizarPerfilesPorRol]
    @idRol INT
AS
BEGIN
    SELECT * FROM Perfil
    WHERE idRol = @idRol;
END;
GO
/****** Object:  StoredProcedure [dbo].[VisualizarUsuarios]    Script Date: 17/04/2024 22:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VisualizarUsuarios]
AS
BEGIN
select idUsuario, username, email, password, estado,idRol from Usuarios
order by idUsuario asc
end
GO
USE [master]
GO
